In this lecture I'm going to walk through a basic data cleaning process with you and introduce you to a few
more pandas API functions.

In [27]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[9, 16], [4,25], [100,64]])
df

     0   1
0    9  16
1    4  25
2  100  64

In [28]:
df.apply(np.sqrt)

      0    1
0   3.0  4.0
1   2.0  5.0
2  10.0  8.0

In [29]:
df.apply(np.sum, axis=0)

0    113
1    105
dtype: int64

In [30]:
df.apply(np.sum, axis=1)

0     25
1     29
2    164
dtype: int64

In [31]:
df['add'] = df.apply(np.sum, axis = 1)
df

     0   1  add
0    9  16   25
1    4  25   29
2  100  64  164

In [21]:
df.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [22]:
df.apply(lambda x: x*x + 2*x, axis=1)

       0     1
0     99   288
1     24   675
2  10200  4224

In [23]:
df.apply(lambda x: x*x + 2*x, axis=0)

       0     1
0     99   288
1     24   675
2  10200  4224

In [24]:
df.apply(lambda x: x*x + 2*x)

       0     1
0     99   288
1     24   675
2  10200  4224